footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    position: fixed; /*To Make The Footer fixed when scrolling*/
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}